.aside {
  clip-path: circle(100px at -20% -20%);

  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 400px;
  height: 100%;

  background: var(--text-inverse-color);
  box-shadow: 2px 0 10px var(--text-soft-color);

  transition: 0.65s ease-in;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--show {
    @extend .aside;
    clip-path: circle(100%);
  }

  &__list {
    flex-basis: 90%;
    overflow-y: scroll;
  }

  &__item {
    text-transform: capitalize;
    padding: 0 0.375rem;
    height: var(--base-large-size);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    &--active {
      @extend .aside__item;

      background: var(--primary-light-color);
      color: var(--primary-dark-color);
      border-left: 4px solid;
    }
  }
}
