.layout {
  &__aside {
    display: none;
  }

  &__main-area {
    border: 2px solid;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    &__nav-bar {
      border: 2px solid;

      &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: var(--base-double-size);
      }
    }
  }
}
