* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* color */
  --primary-color: #44449c;
  --assent-color: #ff5d5d;
  --text-color: #333;
  --text-inverse-color: #fff;
  --text-soft-color: #999;
  --line-color: #eee;
  /* end of colors */

  /* font-sizes */
  --base-size: 1rem;
  --base-double-size: 2rem;
  --base-half-size: 0.5rem;
  --base-large-size: 3rem;
  /* end of font-sizes */

  // font families
  --font-fam-1: Arial, Helvetica, sans-serif;
  --font-fam-2: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  // end of font families
}

body {
  font-family: var(--font-fam-1);
}

article {
  background: var(--line-color);
  border-radius: var(--base-half-size);
  min-height: 30px;
}
