* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* color */
  --primary-color: #44449c;
  --assent-color: #ff5d5d;
  --text-color: #333;
  --text-inverse-color: #fff;
  --text-soft-color: #999;
  --line-color: #eee;
  /* end of colors */

  /* font-sizes */
  --base-size: 1rem;
  --base-double-size: 2rem;
  --base-half-size: 0.5rem;
  /* end of font-sizes */
}
